body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.light-field {
    background-color: #ffffe6;
}

.light-menu {
    background-color: #ffffb3;
}


.dark-field {
    background-color: #a6a6a6;
}

.dark-menu {
    background-color: #000000;
}